body {
  background-color: #000;
  color: #fff;
}

/* 메인 페이지 */
.main-wrapper {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  section {
    .title {
      margin-top: 40px;
      font-size: 30px;
    }
    ul {
      list-style: circle;
      margin: 10px 40px 10px;
      li {
        margin: 10px;
      }
    }
    .content {
      margin: 10px 40px 10px;
      line-height: 25px;
    }
  }
}

/* 페이지 공통 -container */
.container {
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  .page-title {
    text-align: center;
    margin: 150px auto 50px auto;
    font-size: 40px;
    color: #fff;
    animation: flicker 1.5s infinite alternate;
    &.main {
      animation: none;
      color: #fff;
    }
  }
  .count-menu {
    text-align: right;
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    select {
      width: 120px;
      height: 30px;
    }
  }
}

/* 페이지 공통 - 페이지네이션 */
.pagination {
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 20px;
  button {
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 35px;
    height: 30px;
    background-color: #fff;
    &.focused {
      background-color: #000;
      color: white;
      font-weight: 900;
    }
    &:hover {
      cursor: pointer;
    }
    &.prev,
    &.next {
      background-color: #000;
      color: white;
      font-weight: 900;
    }
  }
}

/* 페이지 공통 - 버튼 */
button.primary {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  height: 25px;
  cursor: pointer;
  &:hover {
    color: #f0f252;
    font-weight: 700;
    border: 1px solid #f0f252;
  }
}
